nav {
  display: flex;
  padding: 30px 0;
  margin: 20px 0;
  width: 100%;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav.active {
  background-color: #2000af;
  box-shadow: 10px 0 8px 5px rgba(0, 0, 0, 0.575);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}
nav ul li {
  list-style: none;
}
ul li:hover {
  cursor: pointer;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: ease-out 0.5s;
}
nav a:hover {
  color: #e93a7d !important;
}
.menu-bar {
  display: none;
}
.menu {
  display: flex;
  justify-content: end !important;
}
@media (max-width: 991px) {
  nav {
    padding: 15px 0;
  }
  nav a {
    color: #e93a7d;
    font-size: 23px;
  }
  nav a:hover {
    color: #2000af !important;
  }
  nav ul {
    display: block;
    position: fixed;
    top: 10px;
    right: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0 2px 15px 0 rgba(51, 48, 51, 0.692);
    z-index: -1;
    width: 50%;
    padding-top: 90px;
    transition: ease-out 0.5s;
  }
  nav ul li {
    margin: 5px 20px;
    padding: 10px 0;
  }
  .menu {
    display: flex;
    justify-content: end !important;
  }
  .menu-bar {
    display: block;
    width: 40px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
  }

  /* hide menu */
  .hide-menu {
    right: -50%;
  }
  /* .sidebar {
    background-color: blue;
    backdrop-filter: blur(10px);
  } */
}
@media (max-width: 576px) {
  .bg-blue {
    background: linear-gradient(rgba(47, 24, 147));
  }
  nav a {
    font-size: 22px;
  }
}
