.testimonial {
  background-color: #1e0e62;
  padding: 5rem 0;
}
.testimonial .text {
  font-size: 18px;
}
.testimonial .paragraph {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 28px;
}
.testimonial img {
  width: 72px;
  height: 72px;
}

@media (max-width: 840px) {
  .testimonial img {
    width: 100px;
    height: 100px;
  }
}
