.contents {
  background-image: url("/src/assests/bg_4.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}
.contents h2 {
  font-size: 58px;
}
.textOverlay {
  padding: 10rem 0;
  background-color: rgb(3, 1, 116, 0.5);
}
small {
  font-family: 14px;
}
b {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .contents h2 {
    font-size: 30px;
  }
}
