.features {
  background-image: url("/src/assests/bg_3.jpeg");
  background-size: cover;
  overflow: hidden;
}
.img-overlay {
  padding: 5rem 0;
  background-color: rgb(3, 1, 116, 0.5);
}
h3 {
  font-size: 42px;
}
.fontIcon {
  width: 70px;
  height: 70px;
}

/* variants={fadeIn("right", 0.2)}
          initial="hidden"
          whileInView={"show"}
          viewport={{ once: false, amount: 0.7 }} */

@media (max-width: 576px) {
}
