.hero {
  min-height: 100vh;
  background-image: url("/src/assests/Bg.jpeg");
  background-size: cover;
  overflow: hidden;
}
.overlay {
  height: 100vh;
  background-color: rgb(3, 1, 116, 0.5);
}
.hero-text {
  max-width: 800px;
}
h1 {
  font-size: 72px;
  letter-spacing: 1px;
}
p {
  font-size: 22px;
}
strong {
  font-size: 24px;
}
.hero-text .buttons {
  background-color: #482be7;
  border: none;
  width: 230px;
  height: 55px;
  font-size: 18px;
  box-shadow: inset 0 0 0 0 #1e0e62;
  transition: ease-out 0.5s;
}
.buttons:hover {
  box-shadow: inset 300px 0 0 0 #030174;
}
.img {
  width: 25px;
}
/* #check {
  margin-right: 6px;
}
label {
  font-weight: 500;
  cursor: pointer;
  color: #15143954;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  accent-color: #25dac5;
} */

@media (max-width: 991px) {
  .hero {
    min-height: 90vh;
  }
  h1 {
    font-size: 42px;
    letter-spacing: 1px;
  }
  p {
    font-size: 22px;
  }
  strong {
    font-size: 20px;
  }
  b {
    font-size: 18px;
  }
  small {
    font-size: 18px;
  }
}
