footer {
  background-color: #2f1893;
  padding: 2rem 0;
}
hr {
  padding: 1px !important;
  background-color: #ffffff;
}
.list {
  color: #ffffff;
  transition: ease-out 0.5s;
  cursor: pointer;
  font-size: 16px;
}
.list:hover {
  color: #e93a7d;
}

@media (max-width: 820px) {
  .list {
    font-size: 30px;
  }
}
