.contact {
  width: 100%;
  background-image: url("/src/assests/bg_6.jpeg");
  background-size: cover;
}

li {
  list-style: none;
  font-size: 16px;
}
.font-icon {
  font-size: 18px;
}
form .btn {
  background-color: #25dac5;
  box-shadow: inset 0 0 0 0 #1e0e62;
  transition: ease-out 0.5s;
  border: none;
  font-size: 18px;
}
.btn:hover {
  box-shadow: inset 300px 0 0 0 #1e0e62;
}
input {
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  outline: none;
  border: 1px solid #ebeaed;
}
label {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
}
.inputs {
  height: 50px;
  outline: none;
  border: 1px solid #ebeaed;
}
textarea {
  height: 50px;
  outline: none;
  border: 1px solid #ebeaed;
}
.select {
  height: 50px;
  outline: none;
  border: 1px solid #ebeaed;
}
#check {
  margin-right: 6px;
}
label {
  font-weight: 500;
  cursor: pointer;
  color: #15143954;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  accent-color: #25dac5;
}

@media (max-width: 576px) {
  input {
    font-size: 16px;
  }
  label {
    font-size: 17px;
  }
}
